@charset "UTF-8";
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro M3", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
    /* すべての<a>について下線を無くす */
}

/* ヘッダーの固定 */

div.header {
    /* display: grid;
    gap: 50px 10px;
    grid-template-columns: 450px auto; */
    /* margin-top: 1%; */
    /* margin-bottom: 50px; */
    /* position: fixed; */
    top: 0;
    /* 上部から配置の基準位置を決める */
    left: 0;
    /* 左から配置の基準位置を決める */
    width: 100%;
    /* height: 150px; */
    padding: 5px;

}


.logo {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.address {
    display: inline;
    text-align: end;
    font-size: 14px;
    padding: 0;
    margin-top: 0;
}

aside {
    font-size: 14px;
    padding-left: 5px;
    text-align: left;
}

.header-tel {
    font-size: 16px;
    text-align: center;
}

.header-contact .button {
    /* width: 120px;
    height: 50px;
    font-size: 0.8rem; */
    /* background: turquoise;
    color: #fff;
    border-radius: 5px; */
    /* padding: 5px 10px;
    margin: 10px 0 auto auto;
    text-align: end; */
}

img.otoiawase {
    width: 120px;
    height: auto;
    /* margin-right: 30px 40px 10px auto; */
    float: right;
}

.header-contact .button:hover {
    background: #50697e2c;
}

.header-under {
    width: 100%;
    height: 22px;
    background-color: #111111;
}


.nav-pc {
    display: block;
}

.nav-sp {
    display: none;
}

 /* @media screen and (max-width:480px) {
    .nav-pc {
        display: none;
    }
    .nav-sp {
        display: block;
    }
}  */

.main-nav {
    /* display: flex; */
    font-size: 0.8rem;
    text-transform: uppercase;
    /* 全てを大文字で表示 */
    margin: 10px auto 30px auto;
    /* margin-right: 0; */
    list-style: none;
    width: 100%;
    height: 10px;
    text-align: justify;
    text-justify: distribute-all-lines;
    
    /* text-align: end;*/
    /* padding: 0 5px 0 auto; */
}
.main-nav::after {
    content:"";
	display: inline-block;
	width: 100%;
	line-height:0;
	height: 0;
}

.main-nav li {
    display: inline-block;
    text-align: center;
}

.main-nav a {
    color: #fff;
    font-weight: bold;
}

.main-nav a:hover {
    color: rgb(21, 236, 243)
}

.fade-img {
    position: relative;
    width: 100%;
    height: 300px;
}

.fade-img img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.content {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.content h2 {
    margin: 50px 0 0 0;
    font-size: 24px;
}

.business-photo img {
    width: 100%;
    min-height: 180px;
}

.business-photo {
    /* display: grid;
    gap: 50px 10px;
    grid-template-columns: 1fr 1fr 1fr; */
    /* margin-top: 3%; */
    margin-bottom: 50px;
}

.photo-item {
    padding: 20px 15px 0 15px;
}

dt {
    font-size: 18px;
}

dd {
    font-size: 14px;
}

article {
    background-image: url("/img/syouene1.jpg");
    width: 100%;
    /* height: 300px; */
    padding: 5%;
    margin: 00px 0px 5px 0px;
}

.syouene_btn {
    display: grid;
    gap: 10px auto;
    grid-template-columns: 1fr 1fr;
    /* text-align: center; */
    padding: 0;
    margin-left: 20px;
}
.btn-social-square {
    /* display: block; */
    text-decoration: none;
    width: 90px;
    margin-top: 10px;
    margin-left: 10px;
    height: 90px;
    line-height: 45px;
    font-size: 16px;
    color: white;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    transition: .3s;
}

.btn-social-square i {
    line-height: 50px;
}

.btn-social-square:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.btn-social-square--hatebu {
    background: #4705fc;
}

.syouene_info img {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url(img/syouene1.jpg);
    min-height: 100vh;
}

/* tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
} */

.container {
    min-height: 100vh;
    /* 画面の100％ */
    position: relative;
    padding-bottom: 20px;
    /*←footer-logoとfooterの間の高さ*/
    box-sizing: border-box;
    /*←全て含めてmin-height:100vhに*/
}

section {
    width: 100%;
    /* height: 170px; */
    margin: 30px auto;
    padding: 10px;
    background: #fae7be;
    border-radius: 10px;
}

section h2 {
    text-align: center;
}

.vertical-scroll-table {
    color: #5e5e5e;
    max-height: 100px;
    overflow: auto;
    overflow-x: hidden;
}

/* .vertical-scroll-table table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0; */

/* .vertical-scroll-table table thead tr{
	font-weight: bold;
	text-align: center;
	background-color: #f3f4f5;
} */

/* .vertical-scroll-table table tbody tr:nth-child(even){
	background-color: #fafbfc;
} */

.vertical-scroll-table table td {
    width: 50% 20% 30%;
    padding: 0px;
    /* border: 1px solid #ddd; */
}

table {
    width: 100%;
    /* height: 80px; */
    margin: 10px auto;
    background-attachment: scroll;
}

.news-day {
    display: block;
}

.about h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.about p {
    margin-left: 20px;
}

.gaiyou h2 {
    margin-top: 50px;
    margin-left: 10px;
}

table td {
    padding: 10px 20px;
}

.jigyou h2 {
    margin-top: 50px;
    margin-left: 10px;
}

.jigyou {
    margin-left: 10px;
}

.hinmoku h2 {
    margin-top: 50px;
    margin-left: 10px;
}

.hinmoku {
    margin-left: 10px;
    margin-bottom: 30px;
}

.hinmoku p {
    margin-left: 30px;
    margin-bottom: 20px;
}

picture {
    display: grid;
    gap: 50px 10px;
    grid-template-columns: 1fr 1fr;
    margin-top: 3%;
    margin-left: 30px;
    margin-bottom: 30px;
}

picture li {
    text-decoration: none;
}

picture img {
    width: 450px;
    height: 300px;
}

.map_honsya {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.map_okayama {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.fukusi_hinmoku img {
    width: 150px;
    height: 150px;
}

.btn {
    color: #fff;
    background-color: #eb6100;
}

.btn:hover, a.btn:hover {
    color: #fff;
    background: #f56500;
}

a.btn {
    border-radius: 30vh;
}

.group-info-img1 {
    float: right;
    margin: 0.8em 0 0.8em 0.8em;
    width: 300px;
    height: auto;
}
.group-info-img2 {

    margin: 0.8em;
    padding-right: 50px;
    width: 100%;
    height: auto;
}

.group-info h2 {
    margin: 50px auto 10px 10px;
}

.group-info h3 {
    margin: 10px auto 5px 30px;
}

.group-info p {
    margin-left: 30px;
}

.ecoletter h2 {
    margin: 50px auto 10px 10px;
}

.ecoletter h3 {
    margin: 10px auto 5px 30px;
}

.ecoletter p {
    margin-left: 30px;
}

.syouene_info table {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-logo {
    width: 500px;
    margin-top: 15px;
}

.footer-tel {
    float: right;
    margin: 30px 50px 20px 30px;
    font-size: 20px;
}

footer {
    width: 100%;
    background: #432;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    /*←絶対位置*/
    /* bottom: 0; 下に固定 */
}

footer p {
    color: #ffffff;
    font-size: 1rem;
}